html, body {
  height: 100%;

  font-family: "Arial", sans-serif;

  font-size: $def-fnz;
}

body {
  min-width: 320px;

  position: relative;

  line-height: 1.65;

  background-color: $def-bgc;

  * { 
    outline: 1px solid red;
  }
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    color: $hover-link;
    @include transition-animation;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img {
  width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.main-title {
  font-family: $playfair-bold;
  font-size: 3rem;
  text-align: center;

  line-height: 48px;
  &--section {
    padding-bottom: 25px;
    color: $caption-color;
  }
}

.socials {
  a {
    fill: $white;
    margin-left: 30px;
    @include transition-animation;
    &:hover {
      fill: $hover-link;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

button {
  &:focus {
    outline: none;
  }
}


.steps, .order, .portfolio, .review {
    padding: 90px 0;
}
