
.header {
  display: flex;
  flex-direction: column;

  position: relative;

  @include bgimage(header-slide-mobile);

  min-height: 608px;

  padding-top: 25px;
  padding-left: 15px;
	padding-right: 15px;

  color: $white;

  z-index: 997;

  &__logo {
    z-index:999;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    font-family: $muller;
    font-size: 1.25rem;
    line-height: 23px;
    letter-spacing: .05em;

    padding: 5px 0;
  }
  &__content {
    margin: auto 0;
    text-align: center;
    // a {
    //   padding: 30px;
    // }
  }
  &__arrow {
    padding-top: 55px;

    fill: $white;
    opacity: .6;

    animation: bounce 3s infinite;
    @include transition-animation;
    &:hover {
      fill: $hover-link;
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}

 @media ($screen-m) and (max-width: 1200px) {
   .header {
      min-height: 100%;
      background-image: url("../img/header-slide-tablet.jpg");
      padding-left: 30px;
      padding-right: 30px;
      .main-title {
        font-size: 6.25rem;
        line-height: 100px;
      }
      &__top {
        padding-top: 30px;
      }
      &__text {
        font-size: 1.625rem;
      }
   }
 }

 @media ($screen-lg) {
   .header {

    max-width: 1170px;
    min-height: 600px;
    background-image: url("../img/header-slide-desktop.jpg");
    background-position: center;
    margin: 90px auto 0;
    padding: 0;
     .main-title {
       font-size: 3.75rem;
       line-height: 60px;
       text-align: left;
     }
     &__top {
       width: 50%;
       margin-top: -55px;
     }
     &__content {
        width: 50%;
     }
     &__logo {
       margin-right: -30px;
       order: 2;
     }
     &__info {
      width: 60%;
      margin: 0 auto;
     }
     &__desc {
       text-align: left;
     }
     &__text {
      max-width: 390px;
      font-size: 0.875rem;
      line-height: 26px;
      text-align: left;
      margin-bottom: 26px;
     }
     &__arrow {
       display: none;
     }
   }
 }
