
.header {
  display: flex;
  flex-direction: column;

  position: relative;

  @include bgimage(desktop);

  min-height: 608px;

  padding-top: 25px;

  color: $white;

  z-index: 997;

  &__logo {
    img {
      width: 40px;
    }
    z-index:999;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__desc {
    font-family: $muller;
    font-size: 1.25rem;
    line-height: 23px;
    letter-spacing: .05em;

    padding: 5px 0;
  }
  &__content {
    margin: auto 0;
    text-align: center;
    a {
      padding: 30px;
    }
  }
  &__arrow {
    padding-top: 55px;

    fill: $white;
    opacity: .6;

    animation: bounce 3s infinite;
    @include transition-animation;
    &:hover {
      fill: $hover-link;
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}
