.order {
  position: relative;

  @include bgimage(order-mobile);

  z-index: 1;
  .main-title--section {
    font-size: 2.7rem;

    color: $white;

    padding-bottom: 0;
  }
  &__form {
    input {
      width: 100%;
      margin-bottom: 45px;

      background-color: transparent;
      color: $white;

      padding: 15px 10px 15px 5px;

      border: none;
      border-bottom: 2px solid $tab-grey;
      box-sizing: border-box;
      @include transition-animation;
      &:focus {
        outline: 0;
        border-bottom: 2px solid $white;
      }
      &:hover {
        border-bottom: 2px solid $white;
      }
      &::placeholder {
        color: $white;
      }
    }

    .form-icon {
      position: absolute;
      top: 0;
      right: 0;
      fill: $tab-grey;
    }

    .order__icon {
      &:hover {
        .form-icon {
          fill: $white;
        }
      }
    }
  }
  &__icon {
      position: relative;
  }
  &__info {
    font-family: $raleway-light;
    color: $white;
    text-align: center;

    padding-top: 15px;
    &--fz {
      font-size: 1.125rem;

      padding-bottom: 40px;
    }
  }
}

   @media ($screen-m) {
     .order {
       &__wrapper {
         width: 75%;
         margin: 0 auto;
       }
       .primary-button {
        width: 100%;
        font-size: 1.125rem;
        color: $white;
       }
     }
   }

   @media ($screen-lg) {
     .order {
       background-image:none;
       @include blue-overlay(-1);
       &::before {
        right: 50%;
       }
       &::after {
         content: '';
         background: url('../img/order-desktop@2x.jpg');
         background-size: cover;
         background-repeat: no-repeat;
         position: absolute;
         width: 50%;
         top: 0;
         left: 50%;
         right: 0;
         bottom: 0;
         z-index: -1;
       }
       .blue-overlay {
         right: 50%;
       }

       .primary-button--orange {
         background-color: transparent;
         border: 1px solid;
         &:hover {
           border: 1px solid transparent;
           background-color: $hover-link;
         }
       }
       .main-title--section {
         text-align: left;
       }

       &__wrapper {
        width: 45%;
        margin: 0;
       }
       &__info {
         text-align: left;
       }
     }
   }
