.order {
  position: relative;

  @include bgimage(order-mobile);

  z-index: 1;
  .main-title--section {
    font-size: 2.7rem;
    
    color: $white;

    padding-bottom: 0;
  }
  &__form {
    input {
      width: 100%;
      margin-bottom: 45px;

      background-color: transparent;
      color: $white;
      border: none;
      border-bottom: 1px solid $tab-grey;
      &:focus {
        outline: 0;
      }
    }
  }
  &__info {
    font-family: $raleway-light;
    color: $white;
    text-align: center;

    padding-top: 15px;
    &--fz {
      font-size: 1.125rem;

      padding-bottom: 40px;
    }

  }
  }

