.services {
  &__list {
    padding-bottom: 30px;
  }
  &__desc {
    font-family: $raleway-light;
    font-size: 1.25rem;
    line-height: 30px;
    color: $content-text;

    margin: 40px 0;
  }

  &__img {
    width: 100%;
    min-height: auto;
  }

  .main-title {
    text-align: left;
  }

}
