.services {
  &__list {
    padding-bottom: 30px;
  }
  &__desc {
    font-family: $raleway-light;
    font-size: 1.25rem;
    line-height: 30px;
    color: $content-text;

    margin: 40px 0;
  }

  .main-title {
    text-align: left;
  }

  &__item {
    padding: 5px 0;
    a {
      font-family: $raleway-light;
      font-size: 1.3rem;
      font-weight: 600;
      color: $tab-grey;
      line-height: 2.5rem;
      @include transition-animation;
      &:hover {
        color: $hover-link;
      }
    }
  }
}


@media ($screen-m) {
  .services {
    &__item {
      width: 50%;

      margin-bottom: 20px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}