.services {
  &__desc {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 30px;
    color: $content-text;

    margin: 40px 0;
  }

  &__img {
    width: 100%;
    min-height: auto;
  }

  .main-title {
    text-align: left;
  }

}
