.steps {
  color: #000;
  .main-title {
    text-align: center;
  }
  &__caption {
    position: relative;

    font-family: $def-font;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
    color: $caption-color;
    &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 42px;
    height: 1px;
    background-color: #1a292f;
    }
  }
  &__content {
    font-size: 1.125rem;
    font-weight: 300;
    color: $content-text;
  }

  &__desc {
    font-family: $raleway-light;
    line-height: 25px;
  }
}


 @media ($screen-m) {
   .steps {
    .main-title {
      text-align: left;
    }
     &__wrapper {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       counter-reset: myCounter;
     }
     &__content {
       position: relative;

       width: 35%;
       padding-left: 80px;
     }
     &__caption {
         &::after {
         position: absolute;

         counter-increment: myCounter;
         content: counter(myCounter);

         font-size: 0.75rem;
         text-align: center;
         align-items: center;

         top: 0;
         left: -45px;

         width: 30px;
         height: 30px;

         border-radius: 50%;
         background-color: #f9e7c5;
       }
     }
   }
 }


 @media ($screen-lg) {
   .steps {
     &__content {
       width: 25%;
     }
   }
 }