.video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 620px;

  @include bgimage(video-mobile);

  margin-top: 55px;

  text-align: center;

  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
      background-image: url("../../img/video-mobile@2x.jpg");
  }

  .blue-overlay {
    background-color: rgba(0,32,58,.5);
    z-index: 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 84px;
    height: 84px;

    border-radius: 50%;

    background-color: $hover-link;

    margin-bottom: 32px;

    @include transition-animation;
    &:hover {
      transform: scale(1.1);
    }

    &:active {
      opacity: 0.7;
    }
  }
  &__icon {
    fill: $white;
  }

  &__desc {
    font-family: $raleway-light;
    color: $white;
    font-size: 1.375rem;
    line-height: 30px;

  }
}

@media ($screen-m) {

  .video {
    min-height: 810px;
    background-image: url("../../img/video-tablet.jpg");
    background-position: center;
    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url("../../img/video-tablet@2x.jpg");
    }
  }

}

@media ($screen-lg) {
  .video {
    background-image: url("../../img/video-desktop.jpg");
    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url("../../img/video-desktop@2x.jpg");
    }
  }
}
