
.header {
  @include blue-overlay(-1);
  display: flex;
  flex-direction: column;

  position: relative;

  @include bgimage(header-slide-mobile);

  min-height: 100%;

  padding: 25px 15px;

  color: $white;

  z-index: 997;

  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url('~@/assets/img/header-slide-mobile@2x.jpg');
  }

  &__logo {
    z-index:999;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__phone {
    display: none;
    position: absolute;
    right:0;

    font-family: $muller;
    a {
    color: #252525;
    margin-left: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__text {
    font-family: $muller;
    font-size: 1.25rem;
    line-height: 23px;
    letter-spacing: .05em;

    padding: 5px 0;
  }
  &__content {
    margin: auto 0;
    text-align: center;
  }
  &__arrow {
    padding: 15px;
    .bounce {
      padding-top: 55px;

      fill: $white;
      opacity: .6;

      animation: bounce 3s infinite;
      @include transition-animation;
      &:hover {
        fill: $hover-link;
      }
  }

  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}

 @media ($screen-m) and (max-width: 1200px) {
   .header {
      background-image: url("~@/assets/img/header-slide-tablet.jpg");
      padding-left: 30px;
      padding-right: 30px;
      @media
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        background-image: url('~@/assets/img/header-slide-tablet@2x.jpg');
      }
      .main-title {
        font-size: 6.25rem;
        line-height: 100px;
      }
      &__top {
        padding-top: 30px;
      }
      &__text, &__desc  {
        font-size: 1.625rem;
      }
      &__desc {
        padding: 30px 10px;
      }
   }
 }

 @media ($screen-lg) {

  .header {
    &::before {
      right: 50%;
      top: -15%;
      left: -50%;
      bottom: -15%;
    }
    max-width: 1170px;
    min-height: 608px;
    background-image: url("~@/assets/img/header-slide-desktop.jpg");
    margin: 90px auto 0;
    padding: 0;
    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url('~@/assets/img/header-slide-desktop@2x.jpg');
    }
     .main-title {
       font-size: 3.75rem;
       line-height: 60px;
       text-align: left;
     }
     &__top {
       width: 50%;
       margin-top: -55px;
     }
     &__content {
        width: 50%;
     }
     &__logo {
       margin-right: -30px;
       order: 2;
     }
     &__info {
      width: 60%;
      margin: 0 auto;
     }
     &__desc {
       text-align: left;
     }
     &__text {
      max-width: 390px;
      font-size: 0.875rem;
      line-height: 26px;
      margin-bottom: 26px;
     }
     &__arrow {
       display: none;
     }
     &__phone {
       display: block;
     }
   }
 }
