.portfolio {
  &__tab {
    padding: 5px 0;
    cursor: pointer;
  }
  &__link {
    font-family: $raleway-light;
    font-size: 1.3rem;
    font-weight: 600;
    color: $tab-grey;
    line-height: 2.5rem;
    cursor: pointer;
    @include transition-animation;
    &:hover {
      color: $hover-link;
    }
    &.active {
      color: #000;
    }
  }
  &__img {
    width: 100%;

    figcaption {
      font-weight: 600;
      color: $caption-color;
      text-align: center;
    }
  }
  &__button {
    display: none;
  }
  &__rotate-text {
    display: none;
  }
}

.tns {
  &-outer {
    button {
      display: none;
    }
  }
}
@media ($screen-m) {
 .portfolio {
   .main-title {
     text-align: left;
   }
   &__tabs {
     display: flex;
     justify-content: space-between;
   }
 }
}

@media ($screen-lg) {
  .portfolio {
    &__list {
      display: flex;
    }
    &__tabs {
      justify-content: flex-start;
    }
    &__tab {
      margin-right: 50px;
      margin-bottom: 30px;
    }
    &__img {
          height: 100%;
    }
    &__item {
      position: relative;
      width: 15%;
      height: 600px;
      flex-grow: 1;
      transition: 0.7s;
      @include blue-overlay(1);

      &:hover {
        flex-grow: 2;
        &::before {
          display: none;
        }
        .portfolio__item {
          &::before {
            display: none;
          }
        }
        .portfolio__caption {
          display: none;
        }
        .portfolio__button {
          display: block;
        }
        .portfolio__rotate-text {
          display: none;
        }
      }
    }

    &__button {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;

      margin-top: -42px;
      margin-left: -42px;
      display: none;

    }
    &__icon {
      fill: #fcbd84;
      &:hover {
      transform: scale(1.1);
      @include transition-animation;
      }
    }

    figure {
      margin: 0;
      height: 100%;
    }
    &__caption {
      position: absolute;
      top: 25px;
      left: 25px;
      font-family: $def-font;
      font-size: 1.25rem;
      color: #fff;
      z-index: 1  ;
    }

    &__rotate-text {
      display: block;
      position: absolute;
      font-family: $muller;
      transform: rotate(90deg);
      color: $white;
      z-index: 1  ;
      bottom: 15%;
      left: -15%;
    }
  }
 }
