html, body {
  height: 100%;

  font-family: "Arial", sans-serif;

  font-size: $def-fnz;
}

body {
  min-width: 320px;

  position: relative;

  line-height: 1.65;

  background-color: $def-bgc;
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    color: $hover-link;
    @include transition-animation;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img {
  width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.blue-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $bg-overlay;

  z-index: -1;
}

.main-title {
  font-family: $playfair-bold;
  font-size: 3rem;
  text-align: center;

  line-height: 48px;
  &--section {
    padding-bottom: 25px;
    color: $caption-color;
  }
}

.socials {
  padding-top: 30px;

  a {
    fill: $white;
    margin-left: 30px;
    @include transition-animation;
    &:hover {
      fill: $hover-link;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

button {
  &:focus {
    outline: none;
  }
}

.steps, .order, .portfolio, .review {
    padding: 90px 0;
}


@media ($screen-lg) {
  .blue-overlay {
    right: 50%;
    top: -20%;
    left: -50%;
    bottom: -15%;
  }
}
