@import "mixins/mixins";

$def-font: "Raleway Regular", serif;
$playfair: "Playfair Display", serif;
$def-fnz: 16px;
$def-bgc: #fdfaf3;
$bg-overlay: rgba(17, 37, 55, 0.8);
$dark-grey: #858788;
$white: #fff;
$def-color: $white;
